<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" strict="true" name="XMLConfigTest" monitorInterval="30" shutdownHook="disable">
    <Properties>
        <Property name="logFileName">app</Property>
        <Property name="filename">logs/${sys:logFileName}.log</Property>
        <Property name="filepattern">logs/${sys:logFileName}-%d{yyyy-MM-dd}-%i.log.gz</Property>
        <Property name="defaultpattern">%d{yyyy-MM-dd,HH:mm:ss.SSS} [%t] %-5level %c{1.} - %msg%n</Property>
        <Property name="baseDir">./logs/</Property>
    </Properties>

    <Appenders>
        <Appender type="Console" name="Console">
            <Layout type="PatternLayout" pattern="${defaultpattern}"/>
        </Appender>
        <Appender type="RollingFile" name="RollingFile" fileName="${filename}" filePattern="${filepattern}">
            <Layout type="PatternLayout" pattern="${defaultpattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="1 GB"/>
            </Policies>
            <DefaultRolloverStrategy max="30">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="*.log.gz">
                        <IfLastModified age="5d"/>
                    </IfFileName>
                </Delete>
            </DefaultRolloverStrategy>
        </Appender>
    </Appenders>

    <Loggers>
        <Logger name="com.viraj.grabber" additivity="false" level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>

</Configuration>